<form class="add-form" (ngSubmit)="onSubmit()" *ngIf="showAddTask"><!--este ngIf lo que hace es mostrar el formulario cuando el showAddTask sea true, pero falta implementar que el formulario se cierre cuando se apriete el boton de submit-->
    <div class="form-control">
        <label for="text">Task</label>
        <input type="text" name="text" id="text" placeholder="Add Task Text" [(ngModel)]="text">

    </div>
    <div class="form-control">
        <label for="day">Day & Time</label>
        <input type="text" name="day" id="day" placeholder="Add Day & time" [(ngModel)]="day">

    </div>
    <div class="form-control form-control-check">
        <label for="reminder">Reminder</label>
        <input type="checkbox" name="reminder" id="reminder"  [(ngModel)]="reminder">

    </div>
    <!-- {{text}}{{day}}{{reminder}} habilitar estos dobles bindings para verificar que los ngmodel estan afectando al controlador y se están visualizando -->
    <input type="submit" value="Save Task" class="btn btn-block">

</form>
